<table>
  <thead>
    <tr>
      <th>Response Code</th>
      <th>Request Path</th>
      <th>Parameters</th>
      <th>Time Occurred</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @status_logs.each do |log| %>
      <tr>
        <td><%= log.response_code %></td>
        <td><%= log.request_url %></td>
        <td><%= log.log %></td>
        <td><%= log.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
